.form{
  width: 50%;
  height: auto;
  position: relative;
  top: 155px;
  left: 50%;
  transform: translate(-50%,-50%);
}
div form input{
  display: block;
  border-radius: 15px;
  border: 4px solid black;
  width: 100%;
  height: 45px;
  margin-bottom: 5%;
  padding: 5px;
}
