*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.wrapper{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
nav{
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
}
nav ul{
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}
.nav_elements{
  height: 50px;
  text-decoration: none;
  color: black;
  margin-left: 25px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}
.nav_elements:hover{
  height: 50px;
  text-decoration: none;
  color: red;
  margin-left: 25px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}
