*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.wrapper{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
nav{
  width: 100%;
  height: 50px;
  background-color: lightgrey;
  display: flex;
  justify-content: flex-start;
}
.nav_elements{
  height: 50px;
  text-decoration: none;
  list-style-type: none;
}
